.remove {
  transform: translateX(100vw);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s ease-in;
}

.Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all 0.3s ease-in;
  max-width: auto;
}
.Item > h1 {
  margin-right: 40px;
}
.buttons > button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(37, 184, 243) 50%,
    rgb(225, 225, 225) 50%
  );
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.5s ease-out;
}
.buttons > button:hover {
  background-position: bottom left;
  color: black;
}
.done-btn {
  border-radius: 8px 0 0 8px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.delete-btn {
  border-radius: 0 8px 8px 0;
  border: none;
}
